header {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  
  // navigation
  nav {
    padding: 0 10px;
    background: rgb(255, 247, 170);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-gap: 20px;

    .logo {
      padding: 10px 0;
      width: 70px;
      svg {
        .cls-1 {
          fill: #ffc800d2;
        }
  
        .cls-2 {
          font-size: 19px;
          fill: #272727;
          font-family: InkFree, Ink Free;
          font-weight: bolder;
        }
  
        .cls-3 {
          letter-spacing: -0.02em;
        }
  
        .cls-4 {
          letter-spacing: 0.05em;
        }
  
        .cls-5 {
          fill: #fff;
          stroke: #272727;
        }
  
        .cls-6 {
          fill: #ffc600;
          stroke: #272272;
        }
      }
    }
    .menu--lines {
      display: grid;
      justify-content: end;
      align-content: center;
      grid-gap: 5px;
      position: fixed;
      right: 10px;
      top: 40px;
      cursor: pointer;
      z-index: 100;
      transition: all ease 0.5s;
      .line {
        width: 30px;
        height: 4px;
        background-color: $primary-color;  
        border-radius: 8px;
        transition: all ease 0.8s;

        &.rotate--line {
          background-color: $secondary-color;
          &:nth-child(1) {
            transform: rotate(-45deg) translate(-7px, 5px);
          }
          &:nth-child(2) {
            visibility: hidden;
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(45deg) translate(-7px, -6px);
          }
        }
      }

      &.move--menuIcon {
        transform: translateX(calc(-60vw + 70px))
      }
    }
    @include mediaMd {
      .menu--lines {
        display: none;
      }
    }
    .nav--items {
      display: grid;
      justify-content: center;
      align-content: center;
      grid-gap: 1rem;
      position: fixed;
      text-align: center;
      top: 0;
      right: 0;
      bottom: 0;
      background: aliceblue;
      width: 60%;
      transform: translateX(100%);
      transition: all ease 0.5s;
      z-index: 99;
      .nav--item {
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        transition: all ease 0.2s;

        &:last-child {
          background-color: $secondary-color;
          border-radius: 20px;
          font-size: .8rem;
          a {
            padding: 8px 12px; 
          }

        }
        a {
          &:hover {
            color: #27272783;
          }
        }
      }
      &.open {
        transform: translateX(0);
      }
      @include mediaMd {
        display: grid;
        grid-template-columns: repeat(5, auto);
        align-items: center;
        align-content: stretch;
        justify-content: end; 
        grid-gap: 30px;
        position: relative;
        width: auto;
        transform: translateX(0);
        background-color: transparent;
        .nav--item {
          font-size: 1.1rem;
          height: 100%;
          display: grid;
          &:nth-child(1) {
            a {
              border-bottom-color: #26de81;
            }
          }
          &:nth-child(2) {
            a {
              border-bottom-color: #3867d6;
            }
          }
          &:nth-child(3) {
            a {
              border-bottom-color: #333;
            }
          }
          &:nth-child(4) {
            a {
              border-bottom-color: #fa8231;
            }
          }
          a {
            display: grid;
            align-items: center;
            border-bottom: 0 solid;
            transition: all 0.2s linear;
            
            &:hover {
              border-bottom-width: 5px;
            }
          }
          &:last-child {
            font-size: .8rem;
            max-height: min-content;
            display: block;
            a {
              display: block;
              border: 0;
            }
          }  
        }
      }
    }
  }

  // main
  .main {
    // background: hsl(120, 70%, 75%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .heros {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      display: grid;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
      }
      .hero {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all ease-out .5s;
        width: 100%;
    
        &.hero--1 {
          background-image: url("../assets/images/heros/hero-1.jpg");
        }
        &.hero--2 {
          background-image: url("../assets/images/heros/hero-2.jpg");
        }
        &.hero--3 {
          background-image: url("../assets/images/heros/hero-3.jpg");
        }
        &.hero--4 {
          background-image: url("../assets/images/heros/hero-4.jpg");
        }
        &.hero--5 {
          background-image: url("../assets/images/heros/hero-5.jpg");
        }
      }
    }
    .main--caption {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      display: grid;
      align-content: center;
      justify-items: center;
      z-index: 1;

      h1, p {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #EEE;
        font-weight: lighter;
      }
      h1 {
        font-size: 3rem;
        img {
          width: 2rem;
        }
        @include mediaMd {
          font-size: 5rem;
        }
        @include mediaLg {
          font-size: 6rem;
          img {
            width: 3rem;
          }
        }
      }
    }

  }
}